<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace为命名空间，应该是mapper接口的全称-->
<mapper namespace="xyz.qcbyt.mapper.AuditMusicMapper">
        <select id="findSong" resultType="xyz.qcbyt.entity.Song">
            <if test=" id!=null and id!='' ">
                select * from auditmusic where id=#{id}
            </if>
            
            <if test="id==null and pageNum==null and pageSize ==null">
                select * from auditmusic
            </if>

--             分页功能尚未完成
            <if test=" pageNum!=null and pageSize !=null">
                select * from auditmusic limit #{pageNum},#{pageSize}
            </if>
        </select>
</mapper>