<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace为命名空间，应该是mapper接口的全称-->
<mapper namespace="xyz.qcbyt.mapper.FileUploadMapper">
<!--    文件上传的 对象属性 动态输入  (上传到审核页)-->
    <insert id="addSong" parameterType="xyz.qcbyt.entity.Song">
        insert into auditmusic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="musicname !=null and musicname!=''">
                musicname,
            </if>
            <if test="singername !=null and singername!=''">
                singername,
            </if>
            <if test="albumname !=null and albumname!=''">
                albumname,
            </if>
            <if test="duration !=null and duration!=''">
                duration,
            </if>
            <if test="songurl !=null and songurl!=''">
                songurl,
            </if>
            <if test="lrcurl !=null and lrcurl!=''">
                lrcurl,
            </if>
            <if test="coverimg !=null and coverimg!=''">
                coverimg,
            </if>
            <if test="userid !=null and userid!=''">
                userid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="musicname !=null and musicname!=''">
                #{musicname,jdbcType=VARCHAR},
            </if>
            <if test="singername !=null and singername!=''">
                #{singername,jdbcType=VARCHAR},
            </if>
            <if test="albumname !=null and albumname!=''">
                #{albumname,jdbcType=VARCHAR},
            </if>
            <if test="duration !=null and duration!=''">
                #{duration,jdbcType=INTEGER},
            </if>
            <if test="songurl !=null and songurl!=''">
                #{songurl,jdbcType=VARCHAR},
            </if>
            <if test="lrcurl !=null and lrcurl!=''">
                #{lrcurl,jdbcType=VARCHAR},
            </if>
            <if test="coverimg !=null and coverimg!=''">
                #{coverimg,jdbcType=VARCHAR},
            </if>
            <if test="userid !=null and userid!=''">
                #{userid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>




</mapper>