<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace为命名空间，应该是mapper接口的全称-->
<mapper namespace="xyz.qcbyt.mapper.MusicListMapper">
<!--    联表查询 我的喜欢歌曲页面的 数据-->
    <resultMap id="findAllLoverMusic" type="xyz.qcbyt.entity.UserLoveMusic">
        <id column="id" property="id"/>
        <result column="lovemoment" property="lovemoment"/>
        <result column="musicid" property="musicid"/>
        <result column="userid" property="userid"/>

        <association property="song" javaType="xyz.qcbyt.entity.Song">
            <id column="id" property="id"/>
            <result column="musicname" property="musicname"/>
            <result column="singername" property="singername"/>
            <result column="albumname" property="albumname"/>
            <result column="duration" property="duration"/>
            <result column="songurl" property="songurl"/>
            <result column="lrcurl" property="lrcurl"/>
            <result column="coverimg" property="coverimg"/>
            <result column="likestatus" property="likestatus"/>
        </association>
    </resultMap>

    <select id="selectAllLoverMusic" resultMap="findAllLoverMusic">
        select * from `personlove` p inner join song s on p.musicid=s.id where p.userid=#{id}
    </select>
</mapper>