<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace为命名空间，应该是mapper接口的全称-->
<mapper namespace="xyz.qcbyt.mapper.UserMapper">
    <update id="createLove" parameterType="String">
        create table ${tablename}(
            id int(11) not null AUTO_INCREMENT,
            lovemoment date,
            musicid int(11),
            userid int(11),
            PRIMARY key (id)
        )engine=INNODB DEFAULT charset=utf8
    </update>
    <update id="createPlaylist" parameterType="String">
        create table ${tablename}(
            id int(11) not null AUTO_INCREMENT,
            playlistname varchar(255),
            profile VARCHAR(255),
            coverimg VARCHAR(255),
            musics VARCHAR(255),
            PRIMARY key(id)
        )	engine=INNODB DEFAULT charset=utf8
    </update>
</mapper>